.custom-container-xl {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
}

.custom-nav-borders {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 1rem;
}

.custom-nav-link {
    color: #6c757d;
    font-weight: 500;
    padding: 0.5rem 1rem;
}

.custom-nav-link.active {
    color: #495057;
    border-bottom: 2px solid #007bff;
}

.custom-hr {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.custom-row {
    display: flex;
    flex-wrap: wrap;
}

.custom-col-xl-4,
.custom-col-xl-8 {
    position: relative;
    width: 100%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.custom-col-xl-4 {
    flex: 0 0 auto;
    width: 33.333333%;
}

.custom-col-xl-8 {
    flex: 0 0 auto;
    width: 66.666667%;
}

.custom-card {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    background-color: #fff;
}

.custom-card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid #dee2e6;
}

.custom-card-body {
    padding: 1.25rem;
}

.custom-img-account-profile {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 50%;
}

.custom-small {
    font-size: 0.875rem;
}

.custom-form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Estilos para los botones */
.btn,
.btn-primary {
    background-color: #c82333;
    border-color: #c82333;
    color: #fff;
}

.btn:hover,
.btn-primary:hover {
    background-color: #a71e2a;
    border-color: #971926;
}

.btn:focus,
.btn-primary:focus,
.btn.focus,
.btn-primary.focus {
    background-color: #971926;
    border-color: #8a1723;
    box-shadow: 0 0 0 0.2rem rgba(200, 35, 51, 0.5);
}

.btn:active,
.btn-primary:active,
.btn.active,
.btn-primary.active,
.show>.btn.dropdown-toggle,
.show>.btn-primary.dropdown-toggle {
    background-color: #971926;
    border-color: #8a1723;
}

.btn:active:focus,
.btn-primary:active:focus,
.btn.active:focus,
.btn-primary.active:focus,
.show>.btn.dropdown-toggle:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(200, 35, 51, 0.5);
}

.btn-danger {
    background-color: #c82333;
    border-color: #c82333;
}

.btn-danger:hover {
    background-color: #a71e2a;
    border-color: #971926;
}

.btn-danger:focus,
.btn-danger.focus {
    background-color: #971926;
    border-color: #8a1723;
    box-shadow: 0 0 0 0.2rem rgba(200, 35, 51, 0.5);
}

.btn-danger:active,
.btn-danger.active,
.show>.btn-danger.dropdown-toggle {
    background-color: #971926;
    border-color: #8a1723;
}

.btn-danger:active:focus,
.btn-danger.active:focus,
.show>.btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(200, 35, 51, 0.5);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 300px; /* Ajusta esta altura según sea necesario */
}

.card-img-top {
    height: 200px; /* Ajusta esta altura según sea necesario */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
}

.fecha-noticia {
    display: block;
    margin-top: auto; /* Empuja la fecha hacia el final del contenedor */
}

